<% if login? %>
  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="folders"><%= t("folders.label") %></label>
            <select class="form-control" id="folders">
              <option value=""><%= t("folders.select") %></option>
              <% @folders.try(:each) do |folder| %>
              <option value="<%=h folder["id"] %>"><%=h folder["name"] %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p><%= t(:documents) %></p>
          <ul id="documents" class="list-unstyled">
          </ul>
        </div>
        <div class="col-sm-10">
          <p><%= t(:annotations) %></p>
          <p class="new-annotation" style="display:none">
            <a href="/news_axis" id="new_annotation">New...</a>
          </p>
          <ul id="axis" class="list-unstyled">
          </ul>
          <table id="annotations" class="table table-bordered">
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
